<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.hktv.ott"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.software.live_tv"
        android:required="true"/>
    <uses-feature
        android:name="android.software.leanback"
        android:required="true"/>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Required to update or read existing channel and program information in TvProvider. -->
    <uses-permission android:name="com.android.providers.tv.permission.READ_EPG_DATA"/>
    <!-- Required to update channel and program information in TvProvider. -->
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA"/>


    <application
        android:name="com.hktv.application.MainApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/app_logo"
        android:theme="@style/Theme.Leanback"
        tools:replace="android:allowBackup">
        <activity
            android:name="com.hktv.ui.HktvLiveChannelPlayerActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.hktv.ui.TvActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Leanback">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.hktv.ui.HktvTvInputSetupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <service
            android:name="com.hktv.service.HktvTvInputService"
            android:label="@string/hktv_input_label"
            android:permission="android.permission.BIND_TV_INPUT">
            <!-- Required filter used by the system to launch our account service. -->
            <intent-filter>
                <action android:name="android.media.tv.TvInputService"/>
            </intent-filter>
            <!-- An XML file which describes this input. This provides a pointer to the
            SimpleTvInputSetupActivity to the system/TV app. -->
            <meta-data
                android:name="android.media.tv.input"
                android:resource="@xml/hktvtvinputservice"/>
        </service>
        <!--
        <activity
            android:name="com.hktv.android.MainActivity"
            android:label="@string/app_name"
            android:logo="@drawable/app_icon_quantum"
            android:screenOrientation="landscape">

        </activity>

        <activity android:name="com.hktv.android.DetailsActivity" />
        -->

    </application>

</manifest>
